In [ ]:
import pandas as pd

In [ ]:
country = ["India", "pakistan", "Nepal", "USA", "Germany"]
pd.Series(country)

0       India
1    pakistan
2       Nepal
3         USA
4     Germany
dtype: object

## integer

In [ ]:
runs = [50,55,13,1,90,100]
pd.Series(runs)

0     50
1     55
2     13
3      1
4     90
5    100
dtype: int64

## custom index

In [ ]:
marks = [67,43,90,100,89]
subject = ['maths', 'english', 'eco', 'bio', 'phy']

pd.Series(marks, index=subject)

maths       67
english     43
eco         90
bio        100
phy         89
dtype: int64

## setting name

In [ ]:
marks = pd.Series(marks, index=subject, name = 'Anjali reslts')
marks

maths       67
english     43
eco         90
bio        100
phy         89
Name: Anjali reslts, dtype: int64

In [ ]:
marks = {
    'math': 52,
    'english': 43,
    'eco': 90,
    'bio': 100,
    'phy': 89
}

marks_series = pd.Series(marks)
marks_series

math        52
english     43
eco         90
bio        100
phy         89
dtype: int64

# Series **Attribute**

In [ ]:
# size

marks_series

math        52
english     43
eco         90
bio        100
phy         89
dtype: int64

In [ ]:
marks_series.size

5

In [ ]:
marks_series.dtype

dtype('int64')

In [ ]:
marks_series.name

In [ ]:
marks_series.is_unique

True